body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 700px;
}
.container{
    height: 650px;
}
.head{
    background: #a5a4a4;
    text-align: center;
    color: black;
    padding: 4px;
}
.righthead{
    margin: 0;
    display: flex;
    justify-content: right;
    font-weight: 500;
    font-size: 15px;
    transform: translateX(-20px);
}
/* .curve{
    width: 100%;
} */
.righthead {
    display: flex;
    list-style: none;
    gap: 20px;
}
.righthead li{
    cursor: pointer;
}
.gap{
    cursor:default;
}
.navbar{
    background: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.middlenav ul li a{
    text-decoration: none;
    color: black;

}
.navicon{
    transform: translateX(40px);
    padding: 5px
}
.middlenav ul{
    display: flex;
    list-style: none;
    gap: 50px;
    font-weight: 500;
    font-size: large;
}
.middlenav li{
    /* padding: 2px; */
    z-index: 1000;
    cursor: pointer;
}
.middlenav li :hover{
    color: #a5a4a4;
    
}
.border-link{
    height: 2px;
    width: 0px;
    background-color: #a5a4a4;
    transition: all 0.2s ease-in-out;
}
.link:hover ~ .border-link{
    width: 40px;
}
.navicon img{
    color: black;
    height: 60px;
    width: auto;
}

.leftside{
    font-size: 100px;
    width: 200px;
    position: absolute;
    left: 100px;
    top: 300px;
    /* transform: translate(55%, -50%); */
}
.midcontent{
    display: flex;
    justify-content: center;
}
.shoeimg img{
    display: flex;
    position: absolute;
    top: -70px;
    right: 680px; 
    width: 650px;
    height: 900px;
    /* object-fit: cover; */
    transform-origin: center;
    transform: rotate(-35deg);
    z-index: 2;
}

.shoeimg::before {
    content: '';
    position: absolute;
    top: 680px; 
    left: 50%;
    transform: translateX(-50%);
    width: 550px; 
    height: 50px; 
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 50%;
    z-index: -1; 
    filter: blur(15px);
}
.rightcontent{
    /* position: relative; */
    position: absolute;
    width: 300px;
    right: 100px;
    top: 250px;
}
p{
    font-size: 20px;
    font-weight: 500;
    color: #7a7a7a;
}
.price{
    font-size: 30px;
    font-weight: 500;
    color: #7a7a7a;
}
.nikebackground svg{
    color: #a5a4a4;
    z-index: -1;
    position:fixed;
    width: 120vh;
    /* transform: translateX(300px); */
    height: auto;;
    left: 12%;
}
.moreshoes{
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* gap: 50px; */
}
.box{
    width: 400px;
    height: 150px;
    background: #a5a4a4;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 10%;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(102, 102, 102, 0.71);
}

.box img{
    width: 200px;
    height: auto;
    transform: translateX(-60px) translateY(-15px) rotate(-35deg);
    transition: all 0.2s ease-in-out;
    /* filter: drop-shadow(20px 20px 10px rgba(28, 28, 28, 0.71)); */
}
.box1shoe img{
    filter: drop-shadow(20px 20px 10px rgba(28, 28, 28, 0.71));
}
.box2shoe img{
    filter: drop-shadow(20px 20px 10px rgba(29, 40, 62, 0.71));
}
.box3shoe img{
    filter: drop-shadow(20px 20px 10px rgba(89, 72, 51, 0.71));
}
.box4shoe img{
    filter: drop-shadow(20px 20px 10px rgba(18, 43, 22, 0.71));
}
.box img:hover{
    transform: translateX(-65px) translateY(-20px) rotate(-35deg) scale(1.2);
}
.boxprice{
    font-size: 15px;
    font-weight: 500;
    color: #232323;

}
.boxtext{
    /* display: flex; */
    justify-content: start;
    align-items: start;
    font-size: 20px;
    font-weight: 500;
    color: #232323;
    transform: translateX(-20px);
}

/* Media Queries for MOBILE */
@media only screen and (max-width: 750px) {
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    .head{
        font-size: 5px;
        width: 100vh;
    }
    .navbar {
        /* display: flex; */
        /* display: inline; */
        width: 100vh;
    }
    .curve{
        width: 100vh;
    }
    .middlenav li{
        font-size: 25px;
        /* display: none; */
    }
    .shoeimg img{
        width: 550px;
        height: auto;
        position: absolute;
        right: -350px;
        top: -10px;
        /* transform: translateX(800px) translateY(200px) rotate(-35deg); */
    }
    .shoeimg::before {
        content: '';
        position: absolute;
        top: 600px;
        left: 135%;
        /* transform: translateX(-50%); */
        width: 450px; 
        height: 50px; 
        background: rgba(0, 0, 0, 0.5); 
        border-radius: 50%;
        z-index: -1; 
        filter: blur(15px);
    }
    .container{
        /* display: flex; */
        height: 1300px;
    }
    .nikebackground svg{
        width: 90vh;
        left: 0;
    }
    .moreshoes{
        display: grid;
        justify-content: center;
        align-items: center;
        position: relative;
        grid-template-columns: 2fr 2fr;
        left: 220px;
    }
    .box{
        width: 380px;
        /* height: 170px; */
    }
    hr{
        width: 100vh;
    }
    .rightside{
        position: absolute;
        font-size: 40px;
        right: -500px;
        top: 450px;
        /* top: 550px; */
        /* top: 200px; */
        }
    .rightcontent{
        position: absolute;
        width: 800px;
    }
    .rightcontent p{
        font-size: 30px;
    }


}
